{% import "macros.tex.j2" as cv %}

\documentclass{yalcv}
\usepackage[{{ babel_language }}]{babel}
{% if color_overrides %}
{% for color_name, color_value in color_overrides.items() %}
{{ "\\definecolor{%s}{HTML}{%s}" | format(color_name, color_value) }}
{% endfor %}
{% endif %}

\begin{document}
{% set profile = document.profile %}
{% for page in document.pages %}
  {% if page.settings.sidebar_side == "left" %}
    \begin{cvsidebar}
      {% for unit in page.regions.get("sidebar", []) %}
        {{ cv.render_sidebar_unit(unit, profile, qr_code_path, lang) }}
      {% endfor %}
    \end{cvsidebar}%
    \cvcolumngap%
    \begin{cvbody}
      {% for unit in page.regions.get("header", []) %}
        {{ cv.render_header_unit(unit, profile, lang) }}
      {% endfor %}
      {% for unit in page.regions.get("body", []) %}
        {{ cv.render_body_unit(unit, lang) }}
      {% endfor %}
    \end{cvbody}
  {% else %}
    \begin{cvbody}
      {% for unit in page.regions.get("header", []) %}
        {{ cv.render_header_unit(unit, profile, lang) }}
      {% endfor %}
      {% for unit in page.regions.get("body", []) %}
        {{ cv.render_body_unit(unit, lang) }}
      {% endfor %}
    \end{cvbody}
    \cvcolumngap%
    \begin{cvsidebar}
      {% for unit in page.regions.get("sidebar", []) %}
        {{ cv.render_sidebar_unit(unit, profile, qr_code_path, lang) }}
      {% endfor %}
    \end{cvsidebar}%
  {% endif %}
  {{ cv.footer(profile) }}
  {% if not loop.last %}
\newpage%
  {% endif %}
{% endfor %}
\end{document}
